/* Hawaii-Page */
.hawaii-section {
    overflow: hidden;
    max-height: 105rem;
    object-fit: cover;
}

.hawaii-section__img {
    display: flex;
    width: 100%;
    height: auto;
    bottom: 0;
    object-fit: cover;
    max-height: 56.25rem;
}

.hawaii-section__title {
    position: absolute;
    top: 3.5rem;
    left: 12.25rem;
    font-size: 82px;
    color: white;
}

/* Iceland-Page */
.iceland-section {
    overflow: hidden;
    max-height: 105rem;
    object-fit: cover;
}

.iceland-section__img {
    display: flex;
    width: 100%;
    height: auto;
    bottom: 0;
    object-fit: cover;
    max-height: 56.25rem;
}

.iceland-section__title {
    position: absolute;
    top: 3.5rem;
    left: 12.25rem;
    font-size: 82px;
    color: white;
}

/* Greece-Page */
.greece-section {
    overflow: hidden;
    max-height: 105rem;
    object-fit: cover;
}

.greece-section__img {
    display: flex;
    width: 100%;
    height: auto;
    bottom: 0;
    object-fit: cover;
    max-height: 56.25rem;
}

.greece-section__title {
    position: absolute;
    top: 3.5rem;
    left: 12.25rem;
    font-size: 82px;
    color: white;
}

.album-friday {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 300px;
    height: 450px;
    max-height: 550px;
    border-radius: 1rem;
    text-align: center;
}

.album-saturday {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 300px;
    height: 450px;
    max-height: 550px;
    border-radius: 1rem;
    text-align: center;
}

.album-sunday {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 300px;
    height: 450px;
    max-height: 550px;
    border-radius: 1rem;
    text-align: center;
}

.album__titles {
    border-bottom: 0.1875rem solid black; 
    margin: 0 1em;
    padding-top: 1rem;
}

.activities {
    padding: 1.5rem;
}