* {
    /* width: 1280px; */
    /* box-sizing: border-box;
    border: 1px dashed lightgrey; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Nav */
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.page-header {
    background-color: #FFFFFF;
    z-index: 2;
}

.page-header__wrapper {
    max-width: 95rem; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__title {
    margin: 0;
    color: #335576;
}

.primary-nav {
    display: flex;
    list-style-type: none;
}

.primary-nav li {
    padding: 0.625rem;
}

.current {
    color: black;
    font-size: 1.25rem;
    border-bottom: 0.21875rem solid #DB7A4E;
    text-decoration: none;

    padding-bottom: 0.938rem;
    border-bottom-style: solid;
    border-bottom-width: 0.194rem;
    width: fit-content;
}

.not_current{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

/* Footer */
.info {
    background-color: #FEFAF5;
    padding: 3.5rem;
}

.info__albums {
   display: flex;
   align-items:flex-end;
   justify-content: center;
}

.info__contact {
    padding-right: 10.25rem;
}

.info__social {
    padding-left: 10.25rem;
}

.info__hours, .info__saturday{
    padding-right: 2.25rem;
}

.social__logos{
    margin: .5rem;
    padding-top: .9rem;
}

/* Color for footing text */
.top_row, .bottom_row{
    color: #335576;
}

.middle_row {
    color: #DB7A4E;
    padding-top: 1.5rem;
}

